{% extends "base.html" %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    {% block head %}
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
        <title>高毅 - 留言记录</title>

        <!-- 引入 jquery -->
        <script src="../static/js/jquery-1.11.0.min.js"></script>

        <!-- ========================================== -->
        <!-- 引入 Bootstrap -->
        <link href="../static/css/bootstrap.min.css" rel="stylesheet">
        <script src="../static/js/bootstrap.min.js"></script>
        <!-- ========================================== -->

        <!-- 引入 swiper -->
        <link href="../static/css/swiper.min.css" rel="stylesheet"><!-- Swiper JS -->
        <script src="../static/js/swiper.min.js"></script>

        <!-- 页面布局css -->
        <link href="../static/css/layout.css" rel="stylesheet">
        <!-- 引用页头css -->
        <link href="../static/css/header.css" rel="stylesheet">
        <!-- 引用页脚css -->
        <link href="../static/css/footer.css" rel="stylesheet">
        <!-- 当前页面公用css -->
        <link href="../static/css/account.css" rel="stylesheet">
        <!-- 当前页面css -->
        <link href="../static/css/account_inquiry.css" rel="stylesheet">

        <!-- 引入页面头部js -->
        <script src="../static/js/header_account.js"></script>
        <!-- 引入工具包js -->
        <script src="../static/js/utils.js"></script>
        <!-- 引入当前页面js -->
        <script src="../static/js/account_inquiry.js"></script>
    {% endblock %}

</head>
<body>
<!-- 当前网页 - 内容 -->
{% block body %}
    <div id="main">

        <div id="account-navs-mb-content">
            <div id="account-navs-mb" class="swiper-container visible-xs-block">
                <div id="account-navs-mb-info" class="swiper-wrapper">
                    <a href="../account_personal" class="swiper-slide account-navs-mb-nav">工作中心</a>
                    <a href="../account_product" class="swiper-slide account-navs-mb-nav">产品信息</a>
                    <a href="../account_records" class="swiper-slide account-navs-mb-nav">客户信息</a>
                    <a href="../account_inquiry" class="swiper-slide account-navs-mb-nav account-navs-mb-navCurr">留言记录</a>
                </div>
            </div>
        </div>

        <div id="account-content" class="content clearfix">
            <div id="account-navs" class="pull-left hidden-xs">
                <a class="account-nav" href="../account_personal"><p>工作中心</p></a>
                <a class="account-nav" href="../account_product/manager=managerZero"><p>产品信息</p></a>
                <a class="account-nav" href="../account_records"><p>客户信息</p></a>
                <a class="account-nav navCurr" href="../account_inquiry"><p>留言记录</p></a>
                <a class="account-nav nav-end" href="../account_function"><p>快捷功能</p></a>
            </div>

            <div id="account-info" class="pull-right">
                <div class="info-title clearfix hidden-xs">
                    <p class="pull-left hidden-xs">留言记录</p>
                </div>
                <div id="filter" class="hidden-xs">
                    <div id="filter-ly" class="clearfix">
                        <span class="pull-left">留言状态：</span>
                        <p class="pull-left filter-curr">未回复</p>
                        <p class="pull-left">已回复</p>
                    </div>
                </div>
                <div id="status-mb" class="visible-xs-block">
                    <div id="status-mb-info" class="clearfix">
                        <p id="filter-mb-btn1" class="status-mb-type status-mb-type-navCurr pull-left"><span>未回复</span></p>
                        <p id="filter-mb-btn2" class="status-mb-type pull-left"><span>已回复</span></p>
                    </div>
                </div>
                <div id="info-content">
                    <ul id="listBox" class="list-unstyled">
                    </ul>
                    <nav class="hidden-xs">
                        <ul class="pagination">
                        </ul>
                    </nav>
                </div>
                <div class="loadMore visible-xs-block mt20 mb40"></div>
{#                <p id="bottom-msgBar" class="visible-xs-block"><a id="bottom-msgBar_t1" href="../account_personal">工作中心</a><em class="glyphicon glyphicon-menu-right"></em><span>留言记录</span></p>#}
            </div>
        </div>
    </div>
{% endblock %}
</body>
</html>