{% extends "base_cn.html" %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    {% block head %}
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
        <title>高毅资产 - 首页</title>

        <!-- 引入 jquery -->
        <script src="../static/js/jquery-1.11.0.min.js"></script>

        <!-- ========================================== -->
        <!-- 引入 Bootstrap -->
        <link href="../static/css/bootstrap.min.css" rel="stylesheet">
        <script src="../static/js/bootstrap.min.js"></script>
        <!-- ========================================== -->

        <!-- 引入 swiper -->
        <link href="../static/css/swiper.min.css" rel="stylesheet"><!-- Swiper JS -->
        <script src="../static/js/swiper.min.js"></script>

        <!-- 页面布局css -->
        <link href="../static/css/layout.css" rel="stylesheet">
        <!-- 引用页头css -->
        <link href="../static/css/header.css" rel="stylesheet">
        <!-- 引用页脚css -->
        <link href="../static/css/footer.css" rel="stylesheet">
        <!-- 当前页面css -->
        <link href="../static/css/index.css" rel="stylesheet">

        <!-- 引入页面头部js -->
        <script src="../static/js/header.js"></script>
        <!-- 引入工具包js -->
        <script src="../static/js/utils.js"></script>
        <!-- 引入当前页面js -->
        <script src="../static/js/index.js"></script>
    {% endblock %}
</head>
<body>
{% block banner %}
    <li class="font16 header-nav-curr"><a href="../" class="cl-fff">首页</a></li>
    <li class="font16"><a href="../company" class="cl-fff">公司介绍</a></li>
    <li class="font16"><a href="../investTeam_qgl" class="cl-fff">投资团队</a></li>
    <li class="font16"><a href="../trends_media" class="cl-fff">高毅动态</a></li>
    <li class="font16"><a href="../contact_information" class="cl-fff">联系我们</a></li>
{% endblock %}

<!-- 当前网页 - 内容 -->
{% block body %}
    <div id="main">

        <div class="banner">

            <div id="mb-banner" class="visible-xs-block">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><img src="../static/img/index/banner1.jpg" alt=""></div>
                        {#                        <div class="swiper-slide"><img src="../static/img/index/banner1.jpg" alt=""></div>#}
                    </div>
                    <!-- Add Pagination -->
                    {#                    <div class="swiper-pagination"></div>#}
                </div>
            </div>

            <div id="pc-banner" class="hidden-xs">
                <ul id="pc-banner-picCon" class="clearfix">
                    <li class="pull-left"><img src="../static/img/index/banner3.jpg" alt=""></li>
                    {# <li class="pull-left"><img src="../static/img/index/banner3.jpg" alt=""></li>#}
                </ul>
                {# <ul id="pc-banner-dianCon" class="clearfix">#}
                {#   <li class="pull-left"><img src="../static/img/global/dian.png" alt=""></li>#}
                {# </ul>#}
            </div>


            <div id="banner-content" class="content hidden-xs">
                <div id="loginBox">
                    <p id="loginBox-tip" class="font16 cl-dfb578">使用用户名/手机号/身份证号登陆</p>

                    <form class="bs-example bs-example-form" data-example-id="simple-input-groups">
                        <div id="user-name" class="input-group">
                            <span class="input-group-addon">账号：</span>
                            <input type="text" class="form-control" placeholder="输入用户名/手机号/证件号">
                        </div>
                        <div id="user-password" class="input-group">
                            <span class="input-group-addon">密码：</span>
                            <input type="password" class="form-control" placeholder="登录密码">
                        </div>
                        <div class="clearfix">
                            {#                            <label id="remember" class="pull-left">#}
                            {#                                <input type="checkbox"> 两周内自动登录#}
                            {#                            </label>#}
                            <a id="wangji" href="../retrieve" class="pull-right">忘记密码?</a>
                        </div>
                    </form>
                    <div id="loginBtns" class="clearfix">
                        <div id="loginBtns" class="clearfix">
                            <button id="loginBtn" type="button" class="btn btn-style1 pull-left">登 陆</button>
                            <a id="registerBtn" class="btn btn-style2 pull-right" href="../register">注 册</a>
                        </div>
                        <div id="shejiao">
                            <p ><img src="../static/img/global/bar111.png" alt=""><span>使用社交账号登录</span><img src="../static/img/global/bar111.png" alt=""></p>
                            <a id="shejiao_weixin"><img src="../static/img/global/weixin.png" alt=""></a>
                        </div>
                    </div>

                </div>
            </div>
            <img id="leftJt" class="hidden-xs" src="../static/img/global/leftJt.png" alt="">
            <img id="rightJt" class="hidden-xs" src="../static/img/global/rightJt.png" alt="">
        </div>


        <div id="team" class="content">
            <div class="site-con-title clearfix">
                <p class="pull-left">投资团队</p>
            </div>
            <div id="teamAll" class="clearfix">
                <a href="../investTeam_qgl" class="teamBox1 teamBox pull-left">
                    <img src="../static/img/index/pic1.jpg" alt="">
                    <div class="currPic">
                        <img src="../static/img/index/jiantou.png" alt="">
                    </div>
                    <div class="tameText cl-333">
                        <p class="tameName">邱国鹭</p>
                        <p class="tameJob">董事长</p>
                        <p class="tameTxt siteText">曾任南方基金管理有限公司投资总监和投委会主席，17年从业经历包含了60亿美元资产管理公司合伙人、跨国对冲基金创始人、2800亿公募基金公司投研负责人等经验。</p>
                        <img src="../static/img/global/jt1.png" alt="">
                    </div>
                </a>
                <a href="../investTeam_sqr" class="teamBox2 teamBox pull-right">
                    <img src="../static/img/index/pic3.jpg" alt="">
                    <div class="currPic">
                        <img src="../static/img/index/jiantou.png" alt="">
                    </div>
                    <div class="tameText cl-fff">
                        <p class="tameName">孙庆瑞</p>
                        <p class="tameJob">董事总经理</p>
                        <p class="tameTxt siteText">曾任中银基金权益投资总监，偏股混合型基金6年业绩亚军，在同期上证指数下跌58.48%的熊市中获得44.89%的正收益。中国基金业金牛奖十周年特别奖得主。</p>
                        <img src="../static/img/global/jt1.png" alt="">
                    </div>
                </a>
                <a href="../investTeam_dxf" class="teamBox3 teamBox pull-right">
                    <img src="../static/img/index/pic2.jpg" alt="">
                    <div class="currPic">
                        <img src="../static/img/index/jiantou.png" alt="">
                    </div>
                    <div class="tameText cl-333">
                        <p class="tameName">邓晓峰</p>
                        <p class="tameJob">首席投资官</p>
                        <p class="tameTxt siteText">曾任博时基金股票投资部总经理，公募股票型基金8年业绩冠军，社保基金组合约9年10倍收益，累计为客户创造235亿投资收益。中国基金业金牛奖十周年特别奖得主。</p>
                        <img src="../static/img/global/jt2.png" alt="">
                    </div>
                </a>
                <!-- 2015-12-04 修改 -->
                <a href="../investTeam_zlw" class="teamBox4 teamBox pull-left">
                    <img src="../static/img/index/pic4.jpg" alt="">
                    <div class="currPic">
                        <img src="../static/img/index/jiantou.png" alt="">
                    </div>
                    <div class="tameText cl-fff">
                        <p class="tameName">卓利伟</p>
                        <p class="tameJob">首席研究官</p>
                        <p class="tameTxt siteText">曾任上海景林资产合伙人、建信基金投资部副总监。2015年三年期股票型私募基金金牛奖和银河证券2011年累计三年期五星评级股票型基金。</p>
                        <img src="../static/img/global/jt1.png" alt="">
                    </div>
                </a>
                <!-- 2015-12-04 修改 end -->
                <a href="../investTeam_fl" class="teamBox5 teamBox pull-left">
                    <img src="../static/img/index/pic5.jpg" alt="">
                    <div class="currPic">
                        <img src="../static/img/index/jiantou.png" alt="">
                    </div>
                    <div class="tameText cl-333">
                        <p class="tameName">冯柳</p>
                        <p class="tameJob">董事总经理</p>
                        <p class="tameTxt siteText">民间投资高手，网名“茅台03”。过去13年持续获得较高投资回报，对消费、医药和零售行业有较深见解。</p>
                        <img src="../static/img/global/jt2.png" alt="">
                    </div>
                </a>
                <!-- 2015-12-04 修改 -->
                <a href="../investTeam_wsh" class="teamBox6 teamBox pull-right">
                    <img src="../static/img/index/pic6.jpg" alt="">
                    <div class="currPic">
                        <img src="../static/img/index/jiantou.png" alt="">
                    </div>
                    <div class="tameText cl-333">
                        <p class="tameName">王世宏</p>
                        <p class="tameJob">董事总经理</p>
                        <p class="tameTxt siteText">18年证券从业经验，曾在高瓴资本担任总监和QFII团队核心成员，曾在泰康资管担任投资经理。</p>
                        <img src="../static/img/global/jt1.png" alt="">
                    </div>
                </a>
            </div>
        </div>


        <div id="news">
            <div class="content clearfix">
                <div id="news-media" class="pull-left">
                    <div class="site-con-title clearfix">
                        <p class="pull-left">高毅精选</p>
                        <a href="../trends_media" class="pull-right">MORE</a>
                    </div>
                    <!-- 报道、新闻条目 -->
                    <ul class="news-lists siteText">
                        {% for item in choiceness %}
                            <li class="border-b"><a href="../trends_media_info/{{ item.id }}" class="clearfix"><p
                                    class="pull-left textEllipsis cl-666">{{ item.title }}</p><em
                                    class="cl-999 pull-right glyphicon glyphicon-menu-right"></em><span
                                    class="pull-right cl-999 hidden-xs">{{ item.time }}</span></a></li>
                        {% endfor %}
                    </ul>
                </div>
                <div id="news-research" class="pull-right">
                    <div class="site-con-title clearfix">
                        <p class="pull-left">财富观察</p>
                        <a href="../trends_research" class="pull-right">MORE</a>
                    </div>
                    <!-- 报道、新闻条目 -->
                    <ul class="news-lists siteText">
                        {% for item in wealth %}
                            <li class="border-b"><a href="../trends_research_info/{{ item.id }}" class="clearfix"><p
                                    class="pull-left textEllipsis cl-666">{{ item.title }}</p><em
                                    class="cl-999 pull-right glyphicon glyphicon-menu-right"></em><span
                                    class="pull-right cl-999 hidden-xs">{{ item.time }}</span></a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

    </div>

{% endblock %}

</body>
</html>
