{% extends "base_en.html" %}
<!DOCTYPE html>
<html lang="en-US">
<head>
    {% block head %}
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
        <title>Perseverance Asset - The Investment Team</title>

        <!-- 引入 jquery -->
        <script src="../static/js/jquery-1.11.0.min.js"></script>

        <!-- ========================================== -->
        <!-- 引入 Bootstrap -->
        <link href="../static/css/bootstrap.min.css" rel="stylesheet">
        <script src="../static/js/bootstrap.min.js"></script>
        <!-- ========================================== -->

        <!-- 引入 swiper -->
        <link href="../static/css/swiper.min.css" rel="stylesheet"><!-- Swiper JS -->
        <script src="../static/js/swiper.min.js"></script>

        <!-- 页面布局css -->
        <link href="../static/css/layout.css" rel="stylesheet">
        <!-- 引用页头css -->
        <link href="../static/css/header.css" rel="stylesheet">
        <!-- 引用页脚css -->
        <link href="../static/css/footer_en.css" rel="stylesheet">
        <!-- 当前页面公用css -->
        <link href="../static/css/investTeam_en.css" rel="stylesheet">
        <!-- 当前页面css -->
        <link href="../static/css/investTeam_dxf_en.css" rel="stylesheet">

        <!-- 引入页面头部js -->
        <script src="../static/js/header.js"></script>
        <!-- 引入工具包js -->
        <script src="../static/js/utils.js"></script>
        <!-- 引入当前页面js -->
        <script src="../static/js/investTeam.js"></script>
    {% endblock %}
</head>
<body>
{% block banner %}
    <li class="font16"><a href="../" class="cl-fff">Home</a></li>
    <li class="font16"><a href="../company" class="cl-fff">Company Profile</a></li>
    <li class="font16 header-nav-curr"><a href="../investTeam_qgl" class="cl-fff">The Investment Team</a></li>
    <li class="font16"><a href="../contact_information" class="cl-fff">Contact Us</a></li>
{% endblock%}

<!-- 当前网页 - 内容 -->
{% block body %}
    <div id="main">

        <div class="banner">
            <div class="content">
              {#  <img id="banner-yt" src="../static/img/investTeam/yt.png" alt=""> #}
                <img id="banner-zt" src="../static/img/investTeam/tytd_img01.png" alt="">
            </div>
            <div class="investTeam-pc-navsContent hidden-xs">
                <div class="content">
                    <ul class="investTeam-pc-navs clearfix">
                        <li class="pull-left investTeam-pc-nav"><a href="../investTeam_qgl" class="border-r"><p>Glen Qiu</p><span>Chairman</span></a></li>
                        <li class="pull-left investTeam-pc-nav investTeam-pc-nav-curr"><a href="../investTeam_dxf" class="border-r"><p>Xiaofeng Deng</p><span>Chief Investment Officer</span></a></li>
                        <li class="pull-left investTeam-pc-nav"><a href="../investTeam_sqr" class="border-r"><p>Qingrui Sun</p><span>Managing Director</span></a></li>
                        <li class="pull-left investTeam-pc-nav"><a href="../investTeam_zlw" class="border-r"><p>Liwei Zhuo</p><span>Chief Research Officer</span></a></li>
                        <li class="pull-left investTeam-pc-nav"><a href="../investTeam_fl" class="border-r"><p>Liu Feng</p><span>Managing Director</span></a></li>
                        <li class="pull-left investTeam-pc-nav"><a href="../investTeam_wsh"><p>Simon Wang</p><span>Managing Director</span></a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div id="account-navs-mb-content" class="visible-xs-block">
            <div id="account-navs-mb" class="swiper-container">
                <div id="account-navs-mb-info" class="swiper-wrapper">
                    <a href="../investTeam_qgl" class="swiper-slide account-navs-mb-nav">Glen Qiu</a>
                    <a href="../investTeam_dxf" class="swiper-slide account-navs-mb-nav account-navs-mb-navCurr">Xiaofeng Deng</a>
                    <a href="../investTeam_sqr" class="swiper-slide account-navs-mb-nav">Qingrui Sun</a>
                    <a href="../investTeam_zlw" class="swiper-slide account-navs-mb-nav">Liwei Zhuo</a>
                    <a href="../investTeam_fl" class="swiper-slide account-navs-mb-nav">Liu Feng</a>
                    <a href="../investTeam_wsh" class="swiper-slide account-navs-mb-nav">Simon Wang</a>
                </div>
            </div>
        </div>

        <div id="info1" class="content">
            <div id="info1-pic">
                <div class="investTeam-pc-nav-title hidden-xs">
                    <img src="../static/img/investTeam/dxf.jpg" alt="">
                </div>
            </div>
            <div id="info1-text">
                <div class="investTeam-pc-nav-title hidden-xs">
                    <p class="cl-86560f" style="font-size: 20px; padding-bottom: 10px;">Xiaofeng Deng</p>
                    <p class="cl-86560f" style="font-size: 15px; padding-bottom: 20px;">Chief Investment Officer</p>
                <span class="cl-333 font15" style="text-align: justify;">
                    <ul style="padding-left: 16px;">
                        <li style="margin-bottom: 10px;">15 years of investment experience.</li>
                        <li style="margin-bottom: 10px;">Previously, Mr. Deng was Managing Director of Equity Investment Department of Bosera Asset Management. He managed two products (Social Security Fund account and Bosera Theme Sector Fund) at the same time, both portfolios with AUM over RMB 10 billion and excellent performance under his management.</li>
                        <li style="margin-bottom: 10px;">Mr. Deng is a bottom-up value investor, aiming to buy companies with good business models and top management team at very good prices. He has maintained a broad coverage of industries in China and has gained deep understanding through detailed research and investment for the past 15 years.</li>
                        <li style="margin-bottom: 10px;">During his 9.5 years' management, the portfolio for Social Security Fund realized 1047% total return with annualized return of 29.1% .</li>
                        <li style="margin-bottom: 10px;">Under his management, Bosera Theme Sector Fund (BTSF) was ranked No.1 among all equity mutual funds in terms of the accumulated total return over a period of 7 years and 10 months.</li>
                        <li style="margin-bottom: 10px;">He made more than RMB 23.5 billion in investment gains for the investors from 2005 to 2014.</li>
                        <li style="margin-bottom: 10px;">Winner of Golden-Bull Award for top portfolio managers in China for five times.</li>
                        <li style="margin-bottom: 10px;">Winner of 10-year Special Golden-Bull Award in China (only 7 equity portfolio managers have been awarded this special honor over the past 18 years).</li>
                        </ul>
                </span>
                </div>
                 <div id="account-navs-mb-content-title" class="visible-xs-block">
                    <p style="text-align: center;">
                        <img style="width: 203px; padding-bottom: 20px;" src="../static/img/investTeam/dxf.jpg" alt="">
                    </p>
                    <p class="cl-86560f" style="font-size: 20px; padding-bottom: 10px;">Xiaofeng Deng</p>
                    <p class="cl-86560f" style="font-size: 15px; padding-bottom: 20px;">Chief Investment Officer</p>
                    <span class="cl-333 font15" style="text-align: justify;">
                        <ul style="padding-left: 16px;">
                            <li style="margin-bottom: 10px;">15 years of investment experience.</li>
                            <li style="margin-bottom: 10px;">Previously, Mr. Deng was Managing Director of Equity Investment Department of Bosera Asset Management. He managed two products (Social Security Fund account and Bosera Theme Sector Fund) at the same time, both portfolios with AUM over RMB 10 billion and excellent performance under his management.</li>
                            <li style="margin-bottom: 10px;">Mr. Deng is a bottom-up value investor, aiming to buy companies with good business models and top management team at very good prices. He has maintained a broad coverage of industries in China and has gained deep understanding through detailed research and investment for the past 15 years.</li>
                            <li style="margin-bottom: 10px;">During his 9.5 years' management, the portfolio for Social Security Fund realized 1047% total return with annualized return of 29.1% .</li>
                            <li style="margin-bottom: 10px;">Under his management, Bosera Theme Sector Fund (BTSF) was ranked No.1 among all equity mutual funds in terms of the accumulated total return over a period of 7 years and 10 months.</li>
                            <li style="margin-bottom: 10px;">He made more than RMB 23.5 billion in investment gains for the investors from 2005 to 2014.</li>
                            <li style="margin-bottom: 10px;">Winner of Golden-Bull Award for top portfolio managers in China for five times.</li>
                            <li style="margin-bottom: 10px;">Winner of 10-year Special Golden-Bull Award in China (only 7 equity portfolio managers have been awarded this special honor over the past 18 years).</li>
                            </ul>
                    </span>
                </div>
                {# <a class="btn-style2">登录了解管理产品<img src="../static/img/global/jt3.png" alt=""></a>#}
{#		<a class="btn-style2"></a>#}
            </div>
        </div>

        <div id="info2">
            <div class="content">
                <div id="info2-contentInfo" class="clearfix">
                        <div class="info2-text cl-666 siteText">
                            <div class="investTeam-pc-nav-img hidden-xs">
                                <p class="cl-86560f font15" style="text-align: justify;">The performance charts of Xiaofeng's two products are as the below</p>
                                <img class="mt20" style="align-items: center;" src="../static/img/investTeam/dxf_img01.jpg" alt="">
                                <br>
                                <img class="mt20" style="align-items: center;" src="../static/img/investTeam/dxf_img02.jpg" alt="">
                                <br>
                                <img class="mt20" style="align-items: center;" src="../static/img/investTeam/dxf_img03.jpg" alt="">
                             </div>

                            <div id="account-navs-mb-content-title" class="visible-xs-block">
                                <p class="cl-86560f font14" style="text-align: justify;">The performance charts of Xiaofeng's two products are as the below</p>
                                <img class="mt20" style="align-items: center;" src="../static/img/investTeam/m_dxf_img01.jpg" alt="">
                                <br>
                                <img class="mt20" style="align-items: center;" src="../static/img/investTeam/m_dxf_img02.jpg" alt="">
                                <br>
                                <img class="mt20" style="align-items: center;" src="../static/img/investTeam/m_dxf_img03.jpg" alt="">
                            </div>
                        </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
</body>
</html>
