
p{
	margin: 0;
}
/* 2015-11-20 修改 */
.banner{
	position: relative;
	width: 100%;
	height: 300px;
	background: url("../img/account/banner3.jpg") center no-repeat;
}
#banner-yt{
	position: absolute;
	right: 50px;
	top: 190px;
	width: 271px;
}
#banner-zt{
	position: absolute;
	right: 50px;
	top: 155px;
	width: 200px;
}
/* 2015-11-20 修改 - end */


#account-content{
	margin-top: 130px;
	margin-bottom: 50px;
}






/*-------------------内容块----------------------*/

#account-info{
	width: 70%;
}
.info-title{
	font-size: 16px;
	color: #c29658;
	font-weight: bold;
	border-bottom: solid 1px #ccc;
}
.info-title p{
	margin-bottom: 0;
	margin-bottom: -1px;
	padding-bottom: 10px;
	border-bottom: solid 1px #dfb579;
}

#inputs{
	margin-top: 76px;
}
#btnCon{
	width: 315px;
	text-align: center;
}
#enterBtn{
	width: 180px;
	color: #fff;
	margin-top: 30px;
	background: #dfb578 url("../img/global/jiantou1.png") right center no-repeat;
}

.inputBox{
	position: relative;
}
.inputBox > div{
	width: 315px;
}
.tip{
	line-height: 40px;
	margin-left: 20px;
	margin-bottom: 10px;
}
.errorTip{
	background: #ffe5e5;
	color: #cc3040;
}
.errorTip > p{
	padding-left: 20px;
	padding-right: 10px;
	line-height: 40px;
	background: url("../img/global/jiantou2.jpg") left center no-repeat;
}
.tipsTip{
	background: #e3f5fe;
	color: #1a8bc6;
}
.tipsTip > p{
	padding-left: 20px;
	padding-right: 10px;
	line-height: 40px;
	background: url("../img/global/jiantou3.jpg") left center no-repeat;
}
.errorTip > em{
	line-height: 40px;
}
.okTip{
	line-height: 40px;
	color: #2baa81;
	font-size: 20px;
}
/*-------------------内容块end----------------------*/


#bottom-msgBar{
	margin-top: 40px;
	font-size: 13px;
    line-height: 12px;
    margin-bottom: 45px;
    border-top: 1px solid #dddddd;
    padding-top: 20px;
}
#bottom-msgBar a{
	color: #666;
}
#bottom-msgBar em{
	margin-right: 15px;
	color: #bbbbbb;
}
#bottom-msgBar_t1{
	margin-right: 16px;
}
#bottom-msgBar_t2{
	margin-right: 17px;
}
#bottom-msgBar span{
	color: #c29658;
}








@media only screen and (max-width: 768px) {
	/* 2015-11-20 修改 */
	#main{
		padding-top: 60px;
	}
	.banner{
		width: 100%;
		height: 100px;
		background: url("../img/account/banner3.jpg") center no-repeat;
		background-size: 100% 100%;
	}
	#banner-yt{
		top: 60px;
		right: 20px;
		width: 204px;
	}
	#banner-zt{
		top: 40px;
		right: 20px;
		width: 84px;
	}
	/* 2015-11-20 修改 - end */
	#account-content{
		margin-top: 0;
		margin-bottom: 0;
		/*padding-left: 20px;
		padding-right: 20px;*/
	}
	#account-info{
		width: 100%;
		padding-left: 20px;
		padding-right: 20px;
		margin-top: 30px;
		margin-bottom: 76px;
	}
	#inputs{
		width: 100%;
		margin-top: 30px;
	}
	#btnCon{
		width: 100%;
	}
	#enterBtn{
		width: 100%;
		margin-top: 20px;
	}

	.inputBox > div{
		width: 100%;
	}
	.tip{
		position: absolute;
		right: 10px;
		z-index: 2;
		background: none;
	}
	.errorTip{
		background: none;
	}
}
































