
p{
	margin: 0;
}

#info1-pic{
	position: absolute;
	top: 50px;
	width: 320px;
	overflow: hidden;
}
#info1-pic img{
	width: 370px;
}

#info2-contentInfo{
	padding-top: 20px;
}
#info2-text{
	padding-top: 50px;
	width: 48%;
	line-height: 30px;
}


@media only screen and (max-width: 768px) {
	
	#info1-pic{
		position: absolute;
		bottom: auto;
		top: 14px;
		left: 0px;
		height: 235px;
	}
	#info1-pic img{
		width: 203px;
	}
	
	#info2-text{
		padding-top: 0;
		width: 100%;
	}
	#info2-timePic{
		width: 100%;
	}

}
































